WorkShop1_EntityFramework/Testing_WCF/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WorkShop_WCF/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WorkShop_WCF/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WorkShop_WCF/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkShop_WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetFood_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFood" />
  </wsdl:message>
  <wsdl:message name="IService_GetFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListFood_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFood" />
  </wsdl:message>
  <wsdl:message name="IService_ListFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListOrdersBy_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOrdersBy" />
  </wsdl:message>
  <wsdl:message name="IService_ListOrdersBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOrdersByResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListSize_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSize" />
  </wsdl:message>
  <wsdl:message name="IService_ListSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFood" message="tns:IService_GetFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFoodResponse" message="tns:IService_GetFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListFood" message="tns:IService_ListFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListFoodResponse" message="tns:IService_ListFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddOrder" message="tns:IService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddOrderResponse" message="tns:IService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateOrder" message="tns:IService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateOrderResponse" message="tns:IService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteOrder" message="tns:IService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteOrderResponse" message="tns:IService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOrdersBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListOrdersBy" message="tns:IService_ListOrdersBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListOrdersByResponse" message="tns:IService_ListOrdersBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListSize" message="tns:IService_ListSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListSizeResponse" message="tns:IService_ListSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetOrder" message="tns:IService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetOrderResponse" message="tns:IService_GetOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFood">
      <soap:operation soapAction="http://tempuri.org/IService/GetFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFood">
      <soap:operation soapAction="http://tempuri.org/IService/ListFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOrdersBy">
      <soap:operation soapAction="http://tempuri.org/IService/ListOrdersBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSize">
      <soap:operation soapAction="http://tempuri.org/IService/ListSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/WorkShop_WCF/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>